body {
    background-color: lightblue;
}

header{
    background-color:blueviolet;
}

.titulo{
    width:100%;
    height:100px;
}
.titulo nav{
    float: right;
}

.titulo img{
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

.titulo h1{
    position: relative;
    top: 25px;
    left: 50px;
    color:beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
}

.banner {
    display: inline-block;
    background-color: white; 
    width: 100%;  
    background-size: 150px;
    overflow: hidden;
}

nav{
    float: right;
    position: absolute;
    top: 20px;
    right: -0px;
}

.container {
    background-color: beige;
    padding: 10px;
    display: flex;
    justify-content: align-items;
    gap:20px;
}

.container section{
    width: 50%;
    text-align: justify;
}

h2{
    background-color: white;
    color:crimson
}

.boton{
    display: flex;
    background-color: beige;
    width: 100%;
    justify-content: center;
}

.boton input{
    background-color: palevioletred
}

ul{
    list-style-type: none;
}

nav li{
    display: inline;
    background-color: aliceblue;
    padding: 20px;
    margin: 5px;
}

li a{
    text-decoration: none;
}

form{
    display: flex;
}

form div{
    width: 30%;
    background-color:beige;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    
}

input[type="radio"] {
  display: block;
  }

footer{
    background-color: black;
    color:white;
    padding: 10px; 
    margin: 5px;
    text-align: center
}

th{
    background-color: aqua;
    text-align: center;
}

td{
    background-color: palevioletred;
    padding: 7px;
    text-align: center;
}

a{
    text-decoration: none;
}


.tablas table{
    width:80%;
}


